.projects-container {
    display: flex;
    flex-direction: column;
}

.project-section {
    width: 50%;
}

.project {
    display: flex;
}

.description-container {
    position: relative;
    z-index: 1;
}

.project-title {
    font-family: 'Kaushan Script', cursive;
    font-size: 150px;
    letter-spacing: 1px;
    margin: 0 0 0px 0;
}

.project-title-left {
    margin-right: -100px;
}

.project-title-right {
    margin-left: -100px;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-image-container {
    width: 500px;
    height: 500px;
    flex-shrink: 0;
}

.project-image-container.leaf {
    background: $firstGradient;
}

.project-image-container.light-bulb {
    background: $secondGradient;
}

.project-image-container.note {
    background: $thirdGradient;
}

.project-image-container.dice {
    background: $secondGradient;
}

.project-image-container.books {
    background: $thirdGradient
}

.project-image-container.earth {
    background: $firstGradient;
}

.project-image {
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.leaf .project-image {
    background-image: url(/images/leaf.png);
}

.light-bulb .project-image {
    background-image: url(/images/light-bulb.png);
}

.note .project-image {
    background-image: url(/images/note.png);
}

.dice .project-image {
    background-image: url(/images/dice.png);
}

.books .project-image {
    background-image: url(/images/books.png);
}

.earth .project-image {
    background-image: url(/images/earth.png);
}