.theme-toggle {
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: transparent;
    border-image: initial;
    height: 50px;
    width: 50px;
    position: relative;
    overflow: hidden;
}

.theme-toggle:focus {
    outline: none;
}

.theme-icon {
    top: 0;
    width: 100%;
    position: absolute;
}

.dark-icon {
    transition: right .2s ease-in-out;
    right: 100%;
}

.light-icon {
    transition: left .2s ease-in-out;
    top: 0;
    left: 0;
}

.light-theme .dark-icon {
    right: 0;
}

.light-theme .light-icon {
    left: -100%;
}

.light-theme.body-tag {
    color: $dark;
    background-color: $light;
}

.light-theme .divider {
    background-color: $dark;
}

.light-theme .project-title {
    text-shadow: 1px 1px 20px $light;
}

@media (max-width: 730px) {
    .light-theme .project-title {
        text-shadow: none;
        color: $light;
    }
}