$dark: #000;
$light: #fff;

$magenta: #ff0089;
$highlight: #9ae7ea;
$firstGradient: linear-gradient(#182b71, #192e76);
$secondGradient: linear-gradient(#f9dc00, #ffd74d);
$thirdGradient: linear-gradient(#fa309c, #fc2899);