
<footer class="main-footer">
    <div class="footer-connect">
        <h2 class="footer-title">Need a web project built?</h2>
        <div class="footer-info">
            <form name="gform" id="gform" enctype="text/plain" action="" target="hidden_iframe" onsubmit="submitted=true;">
                First name:<br>
                <input type="text" name="" id=""><br>
                Last name:<br>
                <input type="text" name="" id="">
                <select name="" id="">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <input type="submit" value="Submit">
              </form>
              
              <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
        </div>
    </div>
    <div class="footer-extras">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
</footer>

{{ $script := resources.Get "js/app.js" }}
<script src="{{ $script.RelPermalink }}"></script>