{{ define "main" }}
 <div class="projects-container">
  <div class="project-section">
    <div class="project">
      <div class="project-image-container leaf">
        <div class="project-image"></div>
      </div>
      <div class="description-container">
        <h2 class="project-title project-title-right">Plants</h2>
        <!-- <p class="project-description">A simple plant search engine that uses an open api.</p> -->
      </div>
    </div>
  </div>
  <div class="project-section align-end">
    <div class="project">
      <div class="description-container">
        <h2 class="project-title project-title-left">Letter</h2>
      </div>
      <div class="project-image-container light-bulb">
        <div class="project-image"></div>
      </div>
    </div>
  </div>
  <div class="project-section">
    <div class="project">
      <div class="project-image-container note">
        <div class="project-image"></div>
      </div>
      <div class="description-container">
        <h2 class="project-title project-title-right">Letter</h2>
      </div>
    </div>
  </div>
  <div class="project-section align-end">
    <div class="project">
      <div class="description-container">
        <h2 class="project-title project-title-left">Letter</h2>
      </div>
      <div class="project-image-container dice">
        <div class="project-image"></div>
      </div>
    </div>
  </div>
  <div class="project-section">
    <div class="project">
      <div class="project-image-container books">
        <div class="project-image"></div>
      </div>
      <div class="description-container">
        <h2 class="project-title project-title-right">Letter</h2>
      </div>
    </div>
  </div>
  <div class="project-section align-end">
    <div class="project">
      <div class="description-container">
        <h2 class="project-title project-title-left">Letter</h2>
      </div>
      <div class="project-image-container earth">
        <div class="project-image"></div>
      </div>
    </div>
  </div>
 </div>
{{ end }}